

<head>
    <title>GStudio - Course Content</title>
    <link rel="stylesheet" type="text/css" href="../bower_components/foundation/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/foundation/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/foundation-icon-fonts/foundation-icons.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/activity_player.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik:200,300,400,500,600,700,900" rel="stylesheet">
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/foundation/js/foundation.min.js"></script>
    <script type="text/javascript" src="../bower_components/foundation/js/foundation/foundation.accordion.js"></script>
    <script type="text/javascript" src="../bower_components/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="../bower_components/handlebars/handlebars.js"></script>
</head>
<body>
<style type="text/css">
  .disabled , .disabled i {
    color:gray !important;
  }
  .course_editor_section{
    min-width:930px;
  }
  .node-content-div{
    
    margin-left: -4px;
  }
</style>


<div class="activity_player_secondary_header activity_player_header sticky">
  <nav class="activity_player_secondary_header activity_player_header" data-topbar role="navigation" data-options="sticky_on: large">
      <div class="small-1 columns end">
        <a href="#">
        <div class="header_icon_block prev_button">
            <i class="fa fa-angle-left header_icon"></i>
        </div>
        </a>
      </div>
        <div class="header_title header_text_block">
             Title name 
        </div>
        <div class="new_note header_text_block">
            <a href="#"><i class="fa fa-edit header_icon"></i>&nbsp;
               WRITE A NEW NOTE
            </a>
        </div>
        <div class="pagination prev_button header_text_block">
            
              <a href="#"> 
                  <i class="fa fa-angle-left header_icon"></i> PREV
              </a>
            
        </div>
        <div class="pagination page_count header_text_block">
            1 OF
        </div>
        <div class="pagination page_count header_text_block">
              <a href="#">
                  NEXT <i class="fa fa-angle-right header_icon"></i>
              </a>
            
        </div>
</nav>
</div>
<div class="row activity_sheet">
    <div class="small-12 columns">
        <div class="course_editor ">
          <div class="small-3 columns">
            <div class="course_tree">
              <div class="lesson-title" title="lesson name">
                  <b>Lesson Name</b>
              </div>
              <div class="activity-title">
                    <li>Activity 1</li>
                    <li>Activity 2</li>
                    <li>Activity 3</li>
                    <li>Activity 4</li>
              </div>
              </div>
          </div>
          
          <div class="small-8 columns">

            <div class="course_editor_section">
             <div class="small-4 columns left">
              Rating goes here 
              </div>
              <div class="input_links row">
                  <a class="student-page right"> Student Help</a>
                  <a class="admin-page right"> Teacher's Help</a>
                  <a class="discuss right">Discuss</a>
             <!-- {% comment %}
              <a class="translate right"> Translate</a>
              {% endcomment %}-->

              </div>
              <div class="activity_page_rendered">
                Hidden has the same meaning as none, except when it refers to table borders in cases
                border-collapse:collapse;).
              </div>
              <div class="discussion-area activity_page_rendered" style="">
                
              </div>
              
              <div id="info-page-area">
                
              </div>
            </div>
          </div>
        </div>
      </div>
</div>             

</body>

