<!DOCTYPE html>
<html>
<head>
    <title>Headers for buddy login screens</title>
    <link rel="stylesheet" type="text/css" href="../bower_components/foundation/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/foundation/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/foundation-icon-fonts/foundation-icons.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/headers.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik:200,300,400,500,600,700,900" rel="stylesheet">
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/foundation/js/foundation.min.js"></script>
    <script type="text/javascript" src="../bower_components/foundation/js/foundation/foundation.accordion.js"></script>
    <script type="text/javascript" src="../bower_components/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="../bower_components/handlebars/handlebars.js"></script>
</head>
<body>
    <br />
    <h4> Secondary Header - Activity Creator </h4>
    <!-- The name of the top most class can be changed
        to denote the place this header is being used. -->
    <div class="activity_creator_secondary_header secondary_header_1">
        <div class="header_layer_primary">
            <div class="header_icon_block back_button">
                <a href="#"><i class="fa fa-angle-left"></i></a>
            </div><div class="header_title">
                <div>Invitation 2 CLIX in Telegu</div>
                <div class="buttons">
                    <button type="button" class="blue_round_button">Announce</button>
                </div>
            </div><div class="header_icon_block settings">
                <a href="#"><i class="fa fa-cog"></i></a>
            </div>
        </div>
        <div class="header_layer_secondary">
            <ul class="nav_menu_1">
                <li class="">Overview
                </li><li class="">Activities
                </li><li class="">Assets
                </li><li class="">Notebook
                </li>
            </ul>
        </div>
    </div>
    <br />
    <br />
<!--    <h4>Secondary Header - Activity Player</h4>-->
    <!-- The name of the top most class can be changed
        to denote the place this header is being used. -->
    <!--<div class="activity_player_secondary_header secondary_header_2">
        <div class="header_icon_block back_button">
            <a href="#"><i class="fa fa-angle-left header_icon"></i></a>
        </div><div class="header_icon_block ">
            <a href="#"><i class="fa fa-list-ul thumbnails header_icon"></i></a>
        </div><div class="header_title header_text_block">
            Invitation 2 CLIx in English
        </div><div class="header_icon_block settings">
            <a href="#"><i class="fa fa-cog header_icon"></i></a>
        </div><div class="new_note header_text_block">
            <a href="#">
                <i class="fa fa-edit header_icon"></i>&nbsp;
                WRITE A NEW NOTE
            </a>
        </div><div class="pagination prev_button header_text_block">
            <a href="#">
                <i class="fa fa-angle-left header_icon"></i>
                &nbsp;PREV
            </a>
        </div><div class="pagination page_count header_text_block">
            2 OF 3
        </div><div class="pagination page_count header_text_block">
            <a href="#">
                NEXT&nbsp;
                <i class="fa fa-angle-right header_icon"></i>
            </a>
        </div>
    </div>-->
    <br />
    <br />
    <h4>Secondary Header - Breadcrumb Navigation</h4>
    <!-- The name of the top most class can be changed
        to denote the place this header is being used. -->
    <div class="breadcrumb_navigation_secondary_header secondary_header_3">
        <ul>
            <li>
                <a href="#">Getting started</a>
            </li><li>
                <a href="#">Invitation 2 CLIx in Telegu</a>
            </li>
        </ul>
    </div>
    <br />
    <br />
</body>
</html>